


<div class="container">
  <h1>Add a new booking</h1>
  <%= render 'bookings/form' %>

</div>

<form action="/bookings" method="put">

</form>
<p><%#= link_to "BACK", category_booking_index_path %></p>
