<h1>Bookings#index</h1>

<% if @bookings.size > 0 %>
  <% @bookings.each do |booking| %>
    <% @categories.each do |category| %>
    div.
    <h5>Start Date</h5>
    <p><%= booking.start_date %></p>
    <h6><strong>Name</strong></h6>
    <p><%= category.name %></p>
    <h6><strong>Description</strong></h6>
    <p><%= category.description %></p>
    <h5>End Date</h5>
    <p><%= booking.end_date %></p>
    <% end %>
  <% end %>
<% end %>

<p> Nothing to see here! </p>
