<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/2253879/pexels-photo-2253879.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);">
  <div class="container" style='height: 50px;'>
    <h1>FAMIMA</h1>
    <p><span id="banner-typed-text"></span></p>
    <%= link_to "Rent now!", categories_path, class: "btn btn-primary btn-lg", id: "button" %>
    <!-- search_bar begin -->
    <p>or</p>
    <div id="search_bar">
      <%= form_tag 'index.html', method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find your ideal family member by name, location, gender or personality"
        %>
        <%= submit_tag "Search", class: "btn btn-warning"%>
      <% end %>
    </div>
  </div>
</div>
