<div class="footer">
  <div class="garbin">

 <!--    <img src="https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_50,w_50/v1581750496/djqplrgoxdkkvsimhei3.jpg">
    <img src="https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_50,w_50/v1581568360/vyfoa8jjlys3jenkaa67.jpg>">
    <img src="https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_50,w_50/v1581464518/veliun8kzxcpqeceagtq.jpg">
    <img src="https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_50,w_50/v1581750248/adyprg2s6nuseyhgdjse.jpg"> -->
  </div>
  <div class="footer-copyright">
    <strong>MADE BY GARBIN</strong>
  </div>
</div>
