<div class="footer">
  <div class="garbin">
    <%= cl_image_tag "antonio", class: "avatar" %>
    <%= cl_image_tag "tj", class: "avatar" %>
    <%= cl_image_tag "sho", class: "avatar" %>
    <%= cl_image_tag "junya", class: "avatar" %>

  </div>
  <div class="footer-copyright">
    <strong>MADE BY GARBIN</strong>
  </div>
</div>
