<%= render 'shared/banner' %>
<div class="container-search">
  <div class="search">
  <%= link_to "search...", root_path, id: "button-search" %>
  </div>
</div>

<div class="cards-home">
  <div class="card-category-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images-na.ssl-images-amazon.com/images/I/91oKRLyYaeL._SY355_.png)">
    Grandpa
  </div>

  <div class="card-category-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i.pinimg.com/originals/50/3f/72/503f7261e848bf5780acf7cd655617b1.jpg)">
    University
  </div>

  <div class="card-category-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://m.media-amazon.com/images/M/MV5BODUxNzE5MDI1NV5BMl5BanBnXkFtZTgwNTAwNzE2MzI@._V1_CR0,59,640,360_AL_UX477_CR0,0,477,268_AL_.jpg)">
    Brother
  </div>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    <strong>MADE BY GARBIN</strong>
  </div>
</div>
