
#button-search {
  text-decoration: none;
}

#logo {
height: 75px;
width: 75px;
}

.button-add {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button-add:hover {background-color: #3e8e41}

.button-add:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button-add-tab {
  margin-top: 16px;
  padding: 16px;
}

.button-banner {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: rgb(80, 173, 229);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  text-decoration: none;
  justify-content: center;
}

.button-banner:hover {
  background-color: rgb(58, 129, 170);
  text-decoration: none;
}

.button-banner:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);

}

.button-cat-show-rent {
  border-radius: 4px;
  background-color: rgb(241, 70, 35);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.button-cat-show-rent span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button-cat-show-rent span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button-cat-show-rent:hover span {
  padding-right: 25px;
}

.button-cat-show-rent:hover span:after {
  opacity: 1;
  right: 0;
}
